p{text-align: justify; display: inline-block;}
#page10 img{ width: 100%; max-width: 320px; border: solid 2px #333;}
#page10{text-align: center;}
h2{display: block; margin-bottom: 10px;display: table;}
ul{list-style: none;}