<!-- cadastrar_fornecedores.html -->
<div class="container">
	<div class="row">
		<div class="page-header">
			<h3>Cadastrar novo fonecedor</h3>
		</div>
	</div>
	<div class="row">
		<form>
			<div class="form-group col-md-4">
				<input class="form-control " ng-model="fornecedor.razao_social" placeholder="Razão social" />	
			</div>
			<div class="form-group col-md-4">
				<input class="form-control" ng-model="fornecedor.nome_fantasia" placeholder="Nome fantasia"/>	
			</div>
			<div class="form-group col-md-4">
				<input class="form-control" ng-model="fornecedor.nome_contato" placeholder="Nome contato">
			</div>
			<div class="form-group col-md-3">
				<input class="form-control" ng-model="fornecedor.email" placeholder="E-mail"/>
			</div>
			<div class="form-group col-md-3">
				<input class="form-control" ng-model="fornecedor.telefone" placeholder="Telefone"/>
			</div>
			<div class="form-group col-md-6">
				<input class="form-control" ng-model="fornecedor.logradouro" placeholder="Logradouro"/>
			</div>
			<div class="form-group col-md-2">
				<input class="form-control" ng-model="fornecedor.numero" placeholder="Número"/>
			</div>
			<div class="form-group col-md-4">
				<input class="form-control" ng-model="fornecedor.complemento" placeholder="Complemento"/>
			</div>
			<div class="form-group col-md-3">
				<input class="form-control" ng-model="fornecedor.cep" placeholder="CEP"/>
			</div>
			<div class="form-group col-md-3">
				<input class="form-control" ng-model="fornecedor.bairro" placeholder="Bairro"/>
			</div>
			<div class="form-group col-md-3">
				<input class="form-control" ng-model="fornecedor.cidade" placeholder="Cidade"/>
			</div>
			<div class="form-group col-md-3">
				<input class="form-control" ng-model="fornecedor.estado" placeholder="Estado"/>
			</div>
		</form>
	</div>
	
	<div class="row">
		<div class="col-md-12 text-right">
			<a href="/#/fornecedores" class="btn btn-danger">Cancelar</a>	
			<button class="btn btn-success" ng-click="salvarRegistro(fornecedor)">Salvar</button>
		</div>
	</div>
	
</div>
